* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

/* Header Styling */
header {
  background-color: #1f2937;
}
.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-nav a {
  color: white;
  text-decoration: none;
}

.header-nav li {
  list-style: none;
}

.nav-container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-nav ul {
  display: flex;
  gap: 1em;
}

.header-h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.header-p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.header-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
}

.header-intro {
  max-width: 900px;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-img {
  width: 700px;
  height: 200px;
}
